body {
    background: black;
    color: goldenrod;
    text-align: center
}

h1 {
    color: goldenrod;
}

table {
    width: 300px; /* Ширина таблицы */
    margin: auto; /* Выравниваем таблицу по центру */
}
   td {
    border: 1px solid green; /* Рамка вокруг таблицы */
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
